{% load static %}
<!DOCTYPE html>
<html>
<title>Elite Airlines</title>
      
        <!-- add icon link -->
        <link rel = "icon" img src="../asset/logo.jpg"     type = "image/x-icon"> 
<body style="background-color:#f7c1a2;">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


<style>

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("{% static 'images/1.jpg'%}");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
<body>
   
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-wide"><b>ELITE AIRLINES</b></a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="{% url 'index' %}" class="w3-bar-item w3-button"><i class="fa fa-home"></i>HOME</a>
      <a href="{% url 'Book' %}" class="w3-bar-item w3-button"><i class="fa fa-plane"></i>BOOK</a>
      <a href="{% url 'FAQs' %}" class="w3-bar-item w3-button"><i class="fa fa-question-circle-o"></i> FAQs</a>
      <a href="{% url 'services' %}" class="w3-bar-item w3-button"><i class="fa fa-handshake-o"></i> SERVICES</a>
      <a href="{% url 'contact' %}" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
     
      <a href="{% url 'about' %}" class="w3-bar-item w3-button"><i class="fa fa-info"></i> ABOUT US</a>

      {% if user.is_authenticated %}
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-thumbs-up"></i> Welcome !</a>
      <a href="{% url 'logout' %}" class="w3-bar-item w3-button"><i class="fa fa-user"></i> LOGOUT</a>
      {% else%}
      <a href="{% url 'login' %}" class="w3-bar-item w3-button"><i class="fa fa-user"></i> LOGIN</a>
      {% endif %}
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>



<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#home" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
  <a href="#book" onclick="w3_close()" class="w3-bar-item w3-button">BOOK</a>
  <a href="#faqs" onclick="w3_close()" class="w3-bar-item w3-button">FAQs</a>
  <a href="#services" onclick="w3_close()" class="w3-bar-item w3-button">SERVICES</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
  <a href="#login" onclick="w3_close()" class="w3-bar-item w3-button">LOGIN</a>
  <a href="#aboutus" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT US</a>
</nav>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-topright w3-text-black" style="padding:48px"><br>

    <span class="w3-jumbo w3-hide-small"><b><u>Enjoy the JOURNEY with US !</u></b></span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium"><b>Enjoy the JOURNEY with US</b></span><br>
    
  </div>
    <div class="w3-display-bottomright w3-text-black" style="padding:48px">
      <span class="w3-xlarge">A Great way to Fly </span>
    <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more </a></p>
  </div> 
  <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
    <a href="https://www.facebook.com/"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
    <a href="https://www.instagram.com/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
    <a href="https://www.snapchat.com/"><i class="fa fa-snapchat w3-hover-opacity"></i></a>
    <a href="https://www.in.pinterest.com/"><i class="fa fa-pinterest-p w3-hover-opacity"></i></a>
    <a href="https://www.twitter.com/"><i class="fa fa-twitter w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  </div>
</header>

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">ABOUT THE AIRLINES</h3>
  <p class="w3-center w3-large">Key features </p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-handshake-o w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Customer Service</p>
      <p>We believe that great customer service is an absolute must in order to achieve passenger satisfaction and loyalty amongst customers.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-plane w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Comfort And Space</p>
      <p>Even if not the first priority while booking, we still take care of your comfort thus allowing a more pleasant passenger experience.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-inr w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Great Price With Great Deals</p>
      <p>We have the Best prices at the best deals. Enjoy flying Safe with us to your preferred destination</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-globe w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Widest Connectivity</p>
      <p>Over the years, we have made our way to your heart to become the most preferred airline for on-time and hassle-free service. It’s time you choose us to make a hassle-free booking as well.</p>
    </div>
  </div>
</div>

<!-- Promo Section - "We know design" -->
<div class="w3-container w3-light-grey" style="padding:128px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>Discover MORE</h3>
      <p>Get a glimpse of our Airlines and the system.Get ready to get a whole new Experience with US.</p>
      <p><a href="#work" class="w3-button w3-black"><i class="fa fa-th"> </i> View Our Airlines</a></p>
      
    </div>
    <div class="w3-col m6">
      <img class="w3-image w3-round-large" src="{% static 'images/intro.jfif' %}" alt="Buildings" width="700" height="394">
    </div>
  </div>
</div>

<!-- Team Section -->
<div class="w3-container" style="padding:128px 16px" id="team">
  <h3 class="w3-center">WHAT OUR CUSTOMERS SAY ABOUT US</h3>
  <p class="w3-center w3-large">The ones who have been a part of the journey of Elite Airways</p>
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
    
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="{% static 'images/Review1.png' %}" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>John Doe</h3>
          <p class="w3-opacity">CEO & Founder</p>
          <p>My experience flying this flight was awesome! Crew members did great job, they are friendly and caring. Crews are always available to help customer on any request. </p>
          
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="{% static 'images/Review2.jpg' %}" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>Anja Doe</h3>
          <p class="w3-opacity">Art Director</p>
          <p>Comfortable seat in the flight, friendly service, ease of moving in the airport, great ticket price, compliant with COVID 19, very helpful customer service.</p>
          
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="{% static 'images/Review3.jpg' %}" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3>Mike Ross</h3>
          <p class="w3-opacity">Web Designer</p>
          <p>Absolutely brilliant airline. Couldn't be more happy with the service I was provided. I live in the UK and work in Indonesia, so travel is a large part of my life.</p>
         
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="{% static 'images/Review4.jpg' %}" alt="Dan" style="width:100%">
        <div class="w3-container">
          <h3>Dan Star</h3>
          <p class="w3-opacity">Designer</p>
          <p> The services were superb and the food was delicious. The customer care at the airport was very friendly. And the prevention for COVID-19 was of very high standard.</p>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Promo Section "Statistics" -->
<div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
  <div class="w3-quarter">
    <span class="w3-xxlarge">42345+</span>
    <br>Happy Customers
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">67845+</span>
    <br>No.of Visitors
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">55723+</span>
    <br>Bookings per Year
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">⭐⭐⭐⭐☆</span>
    <br>Rating
  </div>
</div>

<!-- Work Section -->
<div class="w3-container" style="padding:128px 16px" id="work">
  <h3 class="w3-center"><b>OUR AIRLINES</b></h3>
  <p class="w3-center w3-large">This is why we BELIEVE in us and you TRUST us.</p>

  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-col l3 m6">
      <img src="{% static 'images/5.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
    </div>
    <div class="w3-col l3 m6">
      <img src="{% static 'images/6.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
    </div>
    <div class="w3-col l3 m6">
      <img src="{% static 'images/7.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
    </div>
    <div class="w3-col l3 m6">
      <img src="{% static 'images/8.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
    </div>
  </div>

  <div class="w3-row-padding w3-section">
    <div class="w3-col l3 m6">
      <img src="{% static 'images/12.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
    </div>
    <div class="w3-col l3 m6">
      <img src="{% static 'images/try.jpeg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
    </div>
  
    <div class="w3-col l3 m6">
      <img src="{% static 'images/11.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
    </div>
    <div class="w3-col l3 m6">
      <img src="{% static 'images/Background.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
    </div>
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Skills Section -->
<div class="w3-container w3-light-grey w3-padding-64">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>Our Ratings and your Support</h3>
      <p>We primarily operate in India’s domestic air travel market as a low-cost carrier with focus on our three pillars – offering low fares, being on-time and delivering a courteous and hassle-free experience.</p>
      
    </div>
    <div class="w3-col m6">
      <p class="w3-wide"><i class="fa fa-handshake-o w3-margin-right"></i>Sevices</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:90%">90%</div>
      </div>
      <p class="w3-wide"><i class="fa fa-smile-o w3-margin-right"></i>Comfort and Space</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:85%">85%</div>
      </div>
      <p class="w3-wide"><i class="fa fa-rupee w3-margin-right"></i>Prices and deals</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:75%">79%</div>
      </div>
    </div>
  </div>
</div>

<!-- Pricing Section -->
<div class="w3-container w3-center w3-dark-grey" style="padding:128px 16px" id="pricing">
  <h3>Get your tickets at the Lowest prices!</h3>
  <p class="w3-large">BOOK NOW !!</p>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-third w3-section">
      <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-black w3-xlarge w3-padding-32">INTERNATIONAL FLIGHTS</li>
        <li class="w3-padding-16"><b>In-Flight Meals</b></li>
        <li class="w3-padding-16"><b> Entertainment</b> </li>
        <li class="w3-padding-16"><b>Comfort And Space</b></li>
        <li class="w3-padding-16"><b>Best In-Flight Experience</b></li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">₹ 20k</h2>
          <span class="w3-opacity">per person</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <p><a href="{%url 'Book' %}" class="w3-button w3-black w3-padding-large ">BOOK NOW</a></p>
        </li>
      </ul>
    </div>
    <div class="w3-third">
      <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-red w3-xlarge w3-padding-48">DOMESTIC FLIGHTS</li>
        <li class="w3-padding-16"><b>Best Deals</b> </li>
        <li class="w3-padding-16"><b>Entertaiment</b></li>
        <li class="w3-padding-16"><b>Comfort and Space</b></li>
        <li class="w3-padding-16"><b>Special Meals</b></li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">₹ 8k</h2>
          <span class="w3-opacity">per person</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <p><a href="{%url 'Book' %}" class="w3-button w3-black w3-padding-large ">BOOK NOW</a></p>
        </li>
      </ul>
    </div>
    <div class="w3-third w3-section">
      <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-black w3-xlarge w3-padding-32">PRIVATE FLIGHTS</li>
        <li class="w3-padding-16"><b>First-class service</b> </li>
        <li class="w3-padding-16"><b>Personalised décor</b></li>
        <li class="w3-padding-16"><b>Pet accommodation</b></li>
        <li class="w3-padding-16"><b>Meeting rooms and conference facilities</b></li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">₹ 45k</h2>
          <span class="w3-opacity">per person</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <p><a href="{%url 'Book' %}" class="w3-button w3-black w3-padding-large ">BOOK NOW</a></p>
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <a href="https://www.facebook.com/"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
    <a href="https://www.instagram.com/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
    <a href="https://www.snapchat.com/"><i class="fa fa-snapchat w3-hover-opacity"></i></a>
    <a href="https://www.in.pinterest.com/"><i class="fa fa-pinterest-p w3-hover-opacity"></i></a>
    <a href="https://www.twitter.com/"><i class="fa fa-twitter w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  </div>
 </footer>
 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>

</body>
</html>
